/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  
  .header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #B99982;
    color: white;
  }
  
  .header .back-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .profile-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .profile-image img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .bio-group {
    width: 100%;
  }
  
  .bio-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .bio-group textarea:focus {
    border-color: #B99982;
  }
  
  .profile-form {
    flex: 1;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #B99982;
  }
  
  textarea {
    resize: none;
  }
  
  @media (max-width: 768px) {
    .profile-form {
      grid-template-columns: 1fr;
    }
  
    .profile-image img {
      width: 100%;
      height: auto;
    }
  }
  