*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: inline;
}

.navbar-container {
    width: 100%;
    padding: 10px 20px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #B99982;
    z-index: 9999;
    flex-wrap: wrap;
}

.navbar-container .logo img {
    width: 120px;
}

.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-container .nav-list li {
    list-style-type: none;
}

.navbar-container .nav-list li a {
    padding: 0.5rem 1rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    transition: all 0.2s ease-in-out;
}

.navbar-container .nav-list li:hover a {
    background-color: #cd5b59;
    color: white;
}

main {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    text-align: center;
}

main .gambar {
    max-width: 100%;
    width: 90%;
    height: auto;
    border-radius: 25px;
    display: block;
    margin: 100px auto 0;
}

main #catalog {
    font-size: 20px;
    margin-top: 50px;
    width: 100%;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

main article img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 25px;
    margin: 20px;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main .content .img {
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
}

main .content .isi {
    padding: 20px;
    font-size: 20px;
}

main .sub-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

main .sub-content2 img {
    width: 80%;
    max-width: 300px;
    border-radius: 20px;
    margin: 15px;
}

footer {
    background-color: #d9b6a3;
    padding: 20px 40px;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

footer .footer1, footer .footer2, footer .footer3 {
    width: 100%;
    margin-bottom: 20px;
}

footer img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .navbar-container .nav-list ul {
        flex-direction: column;
        align-items: center;
    }

    main article {
        flex-direction: column;
    }

    main .content {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }
}
